@import 'tailwindcss';

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  background-color: #000;
}

@media (min-width: 640px) {
  #root {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  #root {
    padding: 0 4rem;
  }
}

.logo {
  animation: float 3s ease-in-out infinite;
}

.social-icons {
  transition: transform 0.3s ease;
}

.social-icons.left:hover {
  transform: scale(1.3) rotate(-10deg);
}

.social-icons.center:hover {
  transform: scale(1.3) rotate(0deg);
}

.social-icons.right:hover {
  transform: scale(1.3) rotate(10deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
